/*  Stylesheet for the Meteor Slides 1.6 slideshow
	
	Copy "meteor-slides.css" from "/meteor-slides/css/" to your theme's directory to replace
	the plugin's default stylesheet.
	
	Learn more about customizing the stylesheet for Meteor Slides: 
	http://jleuze.com/plugins/meteor-slides/customizing-the-stylesheet/
*/

/* =Slideshow
-------------------------------------------------------------- */

div.meteor-slides {
	clear: both;
	float: none;
    height: auto !important;
	line-height: 0;
	margin: 0;
	max-width: 100%;
	overflow: visible !important;
	padding: 0;
	position: relative;
	z-index: 1;
}
div.meteor-slides.meteor-left {
	clear: none;
	float: left;
	margin: 0 20px 20px 0;
}
div.meteor-slides.meteor-right {
	clear: none;
	float: right;
	margin: 0 0 20px 20px;
}
div.meteor-slides.meteor-center {
	margin: 0 auto;
}
div.meteor-slides.navpaged,
div.meteor-slides.navboth {
	margin-bottom: 20px;
}
.meteor-slides .meteor-clip {
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.meteor-slides .meteor-shim {
	border: 0;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto\9; /* IE8 */
}
.meteor-slides a:focus {
	outline: none;
}

/* =Slide
-------------------------------------------------------------- */

.meteor-slides .mslide {
	display: none;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
}
.single-slide .mslide {
	display: block;
}
.meteor-slides .mslide a {
	border: 0;
	margin: 0;
	padding: 0;
}
.meteor-slides .mslide img {
	border: 0;
	box-shadow: none !important;
	display: block;
	height: auto !important;
	margin: auto !important;
	max-width: 100%;
	padding: 0 !important;
	width: auto\9; /* IE8 */
}
.meteor-slides .mslide img[src$='.png'] {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE7 */
	zoom: 1;	
}

/* =Previous/Next Navigation
-------------------------------------------------------------- */

.meteor-slides ul.meteor-nav {
	display: none;
	display: inline;
	list-style: none;
    height: auto;
	margin: 0 !important;
	padding: 0;
}
.meteor-slides.navhover ul.meteor-nav {
	display: inline;
}
ul.meteor-nav li {
	display: inline;
    height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}
.meteor-slides .meteor-nav a {
	background: rgba(0,0,0,0.5);
	border: none;
	border-radius: 50%;
	box-shadow: none;
	display: block;
	height: 26px;
	margin-top: -13px;
	outline: none;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
    transition: all 0s ease 0s;
	width: 26px;
	z-index: 998;
}
.meteor-slides .meteor-nav a:hover {
	background: rgba(0,0,0,0.75);
}
.meteor-slides .meteor-nav .prev a {
	left: 5px;
}
.meteor-slides .meteor-nav .next a {
	right: 5px;
}
.meteor-slides .meteor-nav a:after {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: '';
	display: block;
	height: 0; 
	width: 0; 
}
.meteor-slides .meteor-nav .prev a:after {
	border-right: 6px solid #fff;
	margin: 7px 0 0 8px;
}
.meteor-slides .meteor-nav .next a:after {
	border-left: 6px solid #fff;
	margin: 7px 0 0 11px;
}

/* =Paged Navigation
-------------------------------------------------------------- */

.meteor-slides .meteor-buttons {
    bottom: -15px;
	box-sizing: initial;
    height: 9px;
    left: 0;
    margin: 0;
    padding: 6px 0 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.meteor-slides .meteor-buttons a {
	background: none;
	border: none;
	border: solid 1px #b1b0b0;
	border-radius: 50%;
	box-shadow: none;
	display: block;
	float: left;
	width: 7px;
	height: 7px;
	margin: 0 3px 0 0 !important;
	outline: none;
	text-indent: -9999px;
    transition: all 0s ease 0s;
}
.meteor-buttons a:hover {
	background-color: #b1b0b0;
}
.meteor-buttons a.activeSlide {
	background-color: #b1b0b0;
}